@model MvcStok.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <form class="form-group" method="post">
        <div>
            <label>Ürün Adı</label>
            <input type="text" class="form-control" name="URUNAD" required="" maxlength="30" />
        </div>
        <div>
            <label>Markası</label>
            <input type="text" class="form-control" name="MARKA" required="" />
        </div>
        <div>
            <label>Kategori Seçiniz</label>
            @Html.DropDownListFor(m => m.TBLKATEGORILER.KATEGORID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
        </div>
        <div>
            <label>Fiyatı</label>
            <input type="text" class="form-control" name="FIYAT" required="" />
        </div>
        <div>
            <label>Stok Adet</label>
            <input type="text" class="form-control" name="STOK" required="" />
        </div>
        <div style="margin-top:15px">
            <button class="btn btn-info" id="btn3">Ürün Ekle</button>
        </div>
        <script>
            $('#btn3').click(function(){
                alert('Ürün ekleme işlemi yapıldı...!')
            });
        </script>
    </form>
