@using MvcStok.Models.Entity;
@model List<TBLMUSTERI>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@*Arama çubuğu*@
@using (Html.BeginForm("Index", "Musteri", FormMethod.Get))
{
    <p>
       <b> Müşteri adı: </b> @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}

<table class="table table-bordered">
    <tr>
        <th>MÜŞTERİ ID</th>
        <th>MÜŞTERİ ADI</th>
        <th>MÜŞTERİ SOYADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>

    </tr>
    <tbody>
        @foreach (var mus in Model)
        {
            <tr>
                <th>@mus.MUSTERID</th>
                <td>@mus.MUSTERIAD</td>
                <td>@mus.MUSTERISOYAD</td>
                <td><a href="/MUSTERI/SİL/@mus.MUSTERID" class="btn btn-danger">SİL</a></td>
                <td><a href="/MUSTERI/MusteriGetir/@mus.MUSTERID" class="btn btn-success">GÜNCELLE</a></td>

            </tr>
        }
    </tbody>
</table>
<a href="/MUSTERI/YeniMusteri/" class="btn btn-primary">YENİ MÜŞTERİ EKLE</a>